body {
  font-family: Arial, Helvetica, sans-serif;
}

code {
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h3 {
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: underline;
  padding: 5px;
}

h4 {
  font-size: 1.2rem;
}

.cv-container {
  border: 1px solid red;
  width: 800px;
  margin: 0 auto;
}

.form-container {
  border: 1px solid green;
}

.header {
  padding: 30px;
}

.header h1 {
  margin-bottom: 10px;
}

.personal {
  border: 2px solid yellow;
  margin-top: 30px;
  min-height: 400px;
}

.pers-form {
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  width: 400px;

  box-sizing: border-box;

  border-radius: 7px;
  margin-bottom: 10px;
  background-color: #d1cfd0;
}

.pers-form-section {
  max-width: 85%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.display-container {
  border: 1px solid blue;
}

.pers-display {
  transition: margin-left 0.5s;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 20px;
  /* height: 400px; */
}

.pers-display > * {
  padding-bottom: 4px;
}

/* general button */

button {
  width: 120px;
  height: 40px;
  font-size: 1.3rem;
}

button:hover {
  cursor: pointer;
}

/* form title */

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-box {
  padding: 15px;

  font-size: 1.5rem;
}

.close-box:hover {
  font-weight: 800;
  cursor: pointer;
}

.edit-button {
  width: 75px;
  height: 30px;
  font-size: 1rem;
  align-self: flex-end;
}
