body {
}

code {
}

.cv-container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  border: 1px solid red;
}

.form-container {
  border: 1px solid green;
}

.display-container {
  border: 1px solid blue;
}
