body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h3 {
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 15px;
  margin-left: 5px;
}

h4 {
  font-size: 1.2rem;
  font-weight: 800;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

.bold-text {
  font-weight: 800;
}

.large-text {
  font-size: 1.4rem;
}

.cv-container {
  border: 1px solid gray;
  width: 900px;
  margin: 0 auto;
}

.summary-container {
  min-height: 200px;
}

.personal {
  margin-top: 70px;
  min-height: 270px;
}

#personal-display > div {
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
}

.form-box {
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  width: 400px;
  /* box-sizing: border-box; */
  background-color: #d1cfd0;
  border-radius: 7px;
}

.display-box {
  transition: margin-left 0.5s;
  margin-left: 400px;
}

.display-item {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.display-item > * {
  padding: 5px;
}
.display-item-container {
  width: 90%;
}

.display-item-container > * {
  padding-bottom: 5px;
}

.content-div {
  display: flex;
  flex-direction: column;
  margin: 0 80px;
}

.pers-form {
  margin-bottom: 10px;
}

.form-section {
  max-width: 85%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.multi-container {
  margin-bottom: 30px;
  min-height: 270px;
}

.multi-container.experience {
  min-height: 400px;
}

.edu-form {
  margin-bottom: 10px;
}

#add-education,
#add-experience {
  margin: 10px;
  width: 180px;
  font-size: 0.8rem;
  align-self: flex-end;
}

.job-details-list {
  margin-left: 75px;
  width: 80%;
}

.duty-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* general button */

button {
  width: 100px;
  height: 30px;
  font-size: 1.3rem;
}

button:hover {
  cursor: pointer;
}

/* form title */

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-box {
  padding: 15px;
  font-size: 1.5rem;
}

.close-box:hover {
  font-weight: 800;
  cursor: pointer;
}

.edit-button {
  margin-top: 20px;
  width: 70px;
  height: 30px;
  font-size: 1rem;
  align-self: flex-end;
}

.delete,
.edit-div,
.add-record {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  color: #3f3f3f;
}

.add-record {
  font-size: 1.6rem;
}

.delete:hover,
.edit-div:hover,
.add-record:hover {
  color: black;
}

.buttons-div {
  display: flex;
}
